@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('JetBrainsMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AlimamaShuHeiTi-Bold';
    src: url('AlimamaShuHeiTi-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
